includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	bootstrapFiles:
		- phpstan-bootstrap.php
	stubFiles:
		- stubs/phpstan.php
	level: 8
	treatPhpDocTypesAsCertain: false
	paths:
		- functions.php
		- inc
		- blocks
	excludePaths:
		analyse:
			- vendor
			- node_modules
			- tests
			- stubs
			- blocks/*/index.js
			- blocks/*/view.js
			- blocks/*/index.asset.php
