includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	bootstrapFiles:
		- phpstan-bootstrap.php
	level: 8
	paths:
		- functions.php
		- inc
		- blocks
	excludePaths:
		analyse:
			- vendor
			- node_modules
			- tests
			- blocks/*/index.js
			- blocks/*/view.js
