<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"wp-site-blocks nextora-main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|30","padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}},"dimensions":{"minHeight":"0px"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull wp-site-blocks nextora-main" style="min-height:0px;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--30)"><!-- wp:paragraph {"className":"animation-fade-in-up","style":{"typography":{"fontSize":"20vw","textAlign":"center"},"css":"line-height:1;\nmargin-bottom: 0 !important;"}} -->
	<p class="has-text-align-center animation-fade-in-up has-custom-css" style="font-size:20vw"><strong>404</strong></p>
	<!-- /wp:paragraph -->
	
	<!-- wp:heading {"level":1,"className":"animation-fade-in-up","style":{"typography":{"textAlign":"center"},"spacing":{"margin":{"top":"0","bottom":"0.5rem"}}},"fontSize":"xx-large"} -->
	<h1 class="wp-block-heading has-text-align-center animation-fade-in-up has-xx-large-font-size" style="margin-top:0;margin-bottom:0.5rem">Page not found</h1>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph {"className":"has-secondary-color has-text-color animation-fade-in-up","style":{"typography":{"textAlign":"center"},"spacing":{"margin":{"top":"0","bottom":"0"}}},"textColor":"secondary"} -->
	<p class="has-text-align-center has-secondary-color has-text-color animation-fade-in-up" style="margin-top:0;margin-bottom:0">The page you are looking for does not exist, or it has been moved.</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"contrast","textColor":"base","className":"is-style-fill animation-fade-in-up","style":{"spacing":{"padding":{"left":"var:preset|spacing|40","right":"var:preset|spacing|40","top":"1rem","bottom":"1rem"}},"border":{"radius":{"topLeft":"8px","topRight":"8px","bottomLeft":"8px","bottomRight":"8px"}},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}}} -->
	<div class="wp-block-button is-style-fill animation-fade-in-up"><a class="wp-block-button__link has-base-color has-contrast-background-color has-text-color has-background has-link-color wp-element-button" style="border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;padding-top:1rem;padding-right:var(--wp--preset--spacing--40);padding-bottom:1rem;padding-left:var(--wp--preset--spacing--40)">Homepage</a></div>
	<!-- /wp:button --></div>
	<!-- /wp:buttons --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->