<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"wide","className":"nextora-content-shell nextora-content-shell\u002d\u002dwide","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|50","right":"0","left":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide nextora-content-shell nextora-content-shell--wide" style="padding-right:0;padding-bottom:var(--wp--preset--spacing--50);padding-left:0"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|10"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--10)"><!-- wp:paragraph {"style":{"typography":{"textTransform":"uppercase","letterSpacing":"0.06em"}},"textColor":"secondary","fontSize":"small"} -->
<p class="has-secondary-color has-text-color has-small-font-size" style="letter-spacing:0.06em;text-transform:uppercase">Blog</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":1,"fontSize":"xx-large"} -->
<h1 class="wp-block-heading has-xx-large-font-size">Latest posts</h1>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:nextora/post-grid {"postsPerPage":3,"enablePagination":true,"showTags":true,"align":"wide"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
