<!-- wp:template-part {"slug":"header","theme":"nextora","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"wp-site-blocks nextora-main nextora-singular nextora-singular\u002d\u002dpage","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|30","right":"var:preset|spacing|30"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull wp-site-blocks nextora-main nextora-singular nextora-singular--page" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--30)"><!-- wp:group {"className":"nextora-content-shell nextora-content-shell\u002d\u002dwide-size","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group nextora-content-shell nextora-content-shell--wide-size" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:breadcrumbs /-->

<!-- wp:post-title /-->

<!-- wp:spacer {"height":"15px"} -->
<div style="height:15px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-featured-image {"align":"wide","className":"animation-fade-in-up","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":true},"className":"animation-inner-fade","layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer","theme":"nextora","tagName":"footer","area":"footer"} /-->