<!-- wp:template-part {"slug":"header","theme":"nextora","tagName":"header","area":"header"} /-->

<!-- wp:nextora/page-title {"backgroundType":"image","backgroundImageId":850,"backgroundImageUrl":"https://pub-0645c3b9d3674132af6b362484df0f3c.r2.dev/alonepro/cgl-bg-slider-2.jpg","overlayColor":"#0a0a0a","overlayOpacity":0.45,"enableParallax":true,"parallaxSpeed":1,"metadata":{"categories":["nextora-page-title"],"patternName":"nextora/page-title-with-breadcrumbs","name":"Page title with breadcrumbs"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|30","right":"var:preset|spacing|30"},"margin":{"right":"0","left":"0","top":"0","bottom":"0"}}},"textColor":"#ffffff"} -->
<!-- wp:breadcrumbs {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"color":{"text":"#ffffff80"}}} /-->

<!-- wp:query-title {"type":"search","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","fontSize":"xx-large"} /-->
<!-- /wp:nextora/page-title -->

<!-- wp:group {"tagName":"main","align":"full","className":"wp-site-blocks nextora-main nextora-search","style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull wp-site-blocks nextora-main nextora-search" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--30)"><!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
    <div class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"align":"wide","className":"animation-fade-in-up"} -->
    <h2 class="wp-block-heading alignwide animation-fade-in-up">Need a new search?</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"wide","className":"animation-fade-in-up"} -->
    <p class="alignwide animation-fade-in-up">If you didn't find what you were looking for, try a new search!</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search…","widthUnit":"px","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"className":"animation-fade-in-up"} /-->
    
    <!-- wp:separator {"className":"is-style-wide animation-fade-in-up","style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"backgroundColor":"surface"} -->
    <hr class="wp-block-separator has-text-color has-surface-color has-alpha-channel-opacity has-surface-background-color has-background is-style-wide animation-fade-in-up" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40)"/>
    <!-- /wp:separator --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"align":"wide","className":"nextora-content-shell nextora-content-shell\u002d\u002dwide","style":{"spacing":{"padding":{"bottom":"0","left":"0","right":"0","top":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide nextora-content-shell nextora-content-shell--wide" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:query {"queryId":15,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true},"metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"Grid"},"align":"wide","layout":{"type":"constrained","contentSize":"1200px"}} -->
    <div class="wp-block-query alignwide"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
    <!-- wp:group {"className":"animation-fade-in-up","style":{"border":{"radius":{"topLeft":"8px","topRight":"8px","bottomLeft":"8px","bottomRight":"8px"},"width":"1px"},"elements":{"link":{"color":{"text":"var:preset|color|surface"}}},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}},"dimensions":{"minHeight":"100%"}},"textColor":"surface","layout":{"type":"constrained"}} -->
    <div class="wp-block-group animation-fade-in-up has-surface-color has-text-color has-link-color" style="border-width:1px;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;min-height:100%;margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"className":"is-placeholder-images","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}},"border":{"radius":{"topLeft":"8px","topRight":"8px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group is-placeholder-images" style="border-top-left-radius:8px;border-top-right-radius:8px;margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"4/3","height":""} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"},"margin":{"top":"0","bottom":"0"},"blockGap":"0.25rem"},"border":{"radius":{"bottomLeft":"8px","bottomRight":"8px"},"width":"0px","style":"none"}},"layout":{"inherit":false}} -->
    <div class="wp-block-group" style="border-style:none;border-width:0px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;margin-top:0;margin-bottom:0;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:post-title {"level":4,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast"} /-->
    
    <!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} /-->
    
    <!-- wp:post-excerpt {"excerptLength":20,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:post-template --></div>
    <!-- /wp:query --></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"nextora","tagName":"footer","area":"footer"} /-->